{{define "main"}}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Burgergeddon | The beefiest week in the year!</title>
  <meta name="description" content="5 days of grease, beef, cheese, bacon, and much much more.">
  <meta name="author" content="Broc 'Beefmeister' Sizzle">
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="/style/site.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body layout="column">

    <div id="top" layout="row" class="md-accent">
      <div class="main-container" layout="row" layout-align="space-around center">
        <img src="/images/ronmcdon.jpg" id="clown">
        <span id="title" class="md-flex md-display-4">BURGERGEDDON</span>
      </div>
    </div>

    <div layout="row" class="md-display-2" layout-align="center">
      <span id="tagline">"NO BEEF LEFT BEHIND"</span>
    </div>

    <div layout="row" id="week">
      <md-card layout="flex" class="weekday">
        <img ng-src="/images/bugeye.jpg" class="md-card-image" alt="Bug Eyed Betty's">
        <md-card-content>
          <h2>Bug Eyed Betty's</h2>
        </md-card-content>

      </md-card>

    </div>




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
{{end}}
